body {
    background-color: black;
    overflow-x: hidden;
}
.fronthead {
    background-image: url("Images/tittle.png");
    height: 35vw;
    background-position: center;
    background-size: cover, contain;
    background-repeat: no-repeat;
    box-shadow: -1vw 1vw 3vw 0vw rgb(141, 85, 0);
}
.hill3 {
    background-color: black;
    margin-bottom: 0vw;
    padding: 0vw;
}
.blackline {
    background-color: black;
    height: 1vw;
    box-shadow: -1vw 1vw 3vw 0vw rgb(141, 0, 129);
}
.sec {
    border: .25vw solid white;
    border-radius: 2vw 2vw 0vw 0vw ;
    height: 35vw;
    margin-top: 15vw;
    margin: 4vw;
    box-shadow: 0vw 0vw 2vw white;

}
.one {
    background-image: radial-gradient(rgb(0, 116, 0), rgb(0, 102, 0), rgb(0, 71, 0), rgb(0, 56, 0));
}
.two {
    background-image: radial-gradient(rgb(255, 255, 255), rgb(207, 179, 207), rgb(77, 0, 77), rgb(44, 0, 44));
}
.three {
    background-image: radial-gradient(rgb(179, 116, 0), rgb(153, 99, 0), rgb(112, 73, 0), rgb(75, 49, 0));
}
.section1 {
    background-image: url(Images/zombie.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vw;
    margin-top: 2vw;
}
#section1text {
    color: black;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 0vw 0vw 2vw rgb(255, 255, 255);
    margin-top: .5vw;
    text-align: center;
    font-size: 2.5vw;
}
#section2text {
    color: black;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 0vw 0vw 2vw rgb(255, 255, 255);
    margin-top: .5vw;
    text-align: center;
    font-size: 2.5vw;
}
#section3text {
    color: black;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 0vw 0vw 2vw rgb(255, 255, 255);
    margin-top: .5vw;
    text-align: center;
    font-size: 2.5vw;
}
.section2 {
    background-image: url(Images/ghost.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 23vw;
    margin-top: 5vw;
}

.section3 {
    background-image: url(Images/jackright.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 23vw;
    margin-top: 5vw;
}
.zom {
    color: white;
    text-decoration: none;
}
.caul {
    background-image: url(Images/Cauldron.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vw;
}
.infobox {
    background-image: radial-gradient( green, rgb(0, 161, 0), rgb(0, 194, 0),  rgb(0, 212, 0));
    border: 1vw solid rgb(0, 87, 4);
    border-radius: 10vw;
    margin: 10vw;
    padding: 2.5vw;
    text-align: center;
    box-shadow: 0vw 0vw 5vw 2vw rgb(25, 105, 0);
    color: white;
    text-shadow: 0vw 0vw 2vw white;
}
.infobox2 {
    background-color: rgb(121, 121, 121);
    border: .5vw solid rgb(218, 116, 0);
    border-top: 0vw solid white;
    border-radius: 10vw 10vw 0vw 0vw;
    margin: 10vw;
    margin-top: 0vw;
    padding: 5vw;
    text-align: center;
    box-shadow: 0vw 4vw 4vw 2vw rgb(93, 0, 105);
    color: rgb(0, 0, 0);
    text-shadow: 0vw 0vw 2vw rgb(255, 255, 255);
}
.homdiv {
    background-color: rgb(121, 121, 121);
    border: .5vw solid rgb(218, 116, 0);
    border-bottom: 0vw solid white;
    border-radius: 10vw 10vw 0vw 0vw;
    margin: 25vw;
    margin-bottom: 0vw;
    padding: 5vw;
    font-size: 5vw;
    color: white;
    text-align: center;
    box-shadow: 0vw -2vw 2vw 2vw rgb(93, 0, 105);
    text-shadow: 0vw 0vw 2vw rgb(255, 255, 255);
}
.linky {
    text-decoration: none;
    text-decoration: white;
}
.floor {
    background-color: grey;
    margin-top: -2vw;
    border-top: 1vw solid rgb(70, 70, 70);
    box-shadow: 0vw 0vw 5vw 2vw rgb(70, 70, 70);
    height: 125vw;
    font-family:cursive;
    text-align: center;
    padding-top: 10vw;
    font-size: 5vw;
    color: lime;
    text-shadow: 0vw 0vw 2vw rgb(0, 0, 0);

}
.floor span {
    display: inline-block;
    animation: flip 6s infinite;
    animation-delay: calc(.9s * var(--i));
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
  .inv {
    opacity: 0%;
  }

